# LLM
groq
openai
python-dotenv

# Data Processing
pandas
numpy

# Search & Retrieval
minsearch

# Embeddings
sentence-transformers

# Vector Database
qdrant-client

# Web Application
streamlit

# API
fastapi
uvicorn

# Visualization
plotly

# Evaluation
tqdm

# Testing
pytest